@import "tailwindcss";

@theme inline {
  --font-literata: var(--literata);
  --color-dark: var(--dark);
  --color-ink: var(--ink);
  --color-primary: var(--primary);
}

:root {
  --literata: "Literata", serif;
  --dark: #1a1d20;
  --ink: #f5f7fa;
  --primary: #efa950;
}

@theme {
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
